*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--------------------ENCABEZADO-------------------->*/
header {
    width: 100%;
    background-color: black;
    padding: 20px;
    text-align: center;
  }
  
  header > div {
    display: inline-block;
    vertical-align: middle;
  }
  
  header > img {
    width: 300px;
    border-radius: 150px;
    box-shadow: 0px 0px 20px 0px rgba(117, 213, 140, 1);
    margin-top: 45px;
    margin-bottom: -85px;
    margin-left: 190px;
  }
  
  .titulo {
    text-align: center;
    font-family: 'Audiowide', cursive;
    font-weight: normal;
    font-size: 90px;
    position: relative;
    margin-left: 140px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgba(13, 84, 50, 1);
    text-shadow: -5px 2px 7px white;
  }
  
  .titulo::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: rgba(13, 84, 50, 1);
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 6s linear infinite;
  }
  
  @keyframes animate {
    0% {
      width: 500px;
    }
    50% {
      width: 150px;
    }
    100% {
      width: 500px;
    }
  }
  
  .letrainicio {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 26px;
    text-align: center;
    margin-left: 200px;
  }

/*--------------------NAVBAR-------------------->*/
.top-content{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 45px;
    background-color: #f2f2f2;
    width: 100%;
    height: 70px;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
}

a{
    display: inline-block;
    text-decoration: none; 
    height: 100%;
    margin: 0 20px;
    line-height: 60px;
    font-size: 17px;
    color: gray;
    cursor: pointer;
    transition: color .5s;
}
a:hover{
    color: black;
}

/*--------------------CARRUSEL-------------------->*/
.carrusel{
    margin-top: -120px;
    height: 100vh;
    display: flex;
    align-items: center; 
}

.carrusel-items{
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 30px 0px;
}

.carrusel-item{
   min-width: 450px;
   max-width: 450px;
   height: 350px;
}

.carrusel-item img{ 
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carrusel-item:hover{
    transform: scale(1.3);
}

/*--------------------INTRODUCCIÓN-------------------->*/

h2{
    text-align: center;
    font-family:monospace;
    margin-top: -70px;
    font-size: 50px;
    margin-bottom: 15px;
    color:rgb(73, 71, 71);
}

.spancolor{
    color: rgba(13,84,50,1);
}

h3{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 28px;
    padding: 10px;
}

/*--------------------CARDS-------------------->*/

.container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    justify-items: center;
    padding: 10px;
  }
  
  .card {
    height: 450px;
    width: 100%;
    margin: 0 10px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
    background: rgba(13, 84, 50, 1);
  }
  
  .imgcards {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
  }
  
  .letracards {
    margin: 30px;
    font-size: 29px;
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .pcards {
    font-size: 18px;
    margin: 15px;
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
/*--------------------FOOTER-------------------->*/

footer{
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    height: auto;
    width: 100%;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 700px;
    margin: 10px auto;
    line-height: 4px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: rgba(13,84,50,1);
}

.footer-bottom{
    background: #111;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

/*--------------------ACERCA DE-------------------->*/

.acercadeletra{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 70px;
  text-align: center;
  color:rgba(13, 84, 50, 1);
  font-size: 50px;
}
.about-us {
  background-color: #f2f2f2;
  padding: 20px;
  margin: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 28px;
}

.photo-gallery {
  display: flex;
  justify-content: center;
  margin-top: -60px;
  padding: 40px;
}

.photo-gallery .container {
  display: flex;
  justify-content: space-between;
}

.photo-gallery .photo {
  flex-basis: 30%;
  max-width: 30%;
}

.photo-gallery .photo img {
  width: 100%;
  height: auto;
}
/*--------------------CONTACTO-------------------->*/

.contact-container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f2f2f2;
  text-align: center;
}

.letracontacto{
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  margin-top: 40px;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 19px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color:rgba(13, 84, 50, 1);
}


/* Media Query para 576px */
@media (max-width: 576px) {
   /* INDEX */
  /* Encabezado */
  header > img {
    width: 200px;
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 0;
  }

  .titulo {
    font-size: 50px;
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .letrainicio {
    font-size: 20px;
    margin-left: 0;
  }

  /* NavBar */
  .top-content {
        font-size: 30px;
    }

    a {
        margin: 10px;
        line-height: 60px;
        font-size: 14px;
    }

    /* Carrusel */
    .carrusel {
        margin-top: 10px; 
        height: auto;
    }
    
    .carrusel-items {
        flex-wrap: nowrap; 
        padding: 10px;
        overflow-x: hidden;
    }
    
    .carrusel-item {
        min-width: 300px; 
        max-width: 300px;
        height: auto;
    }

    /* Introducción */
     h2 {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 20px;
    padding: 10px;
  }

  /* Cards */
    .container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .card {
    height: 400px;
  }

  .letracards {
    font-size: 24px;
    margin: 20px;
  }

  .pcards {
    font-size: 16px;
    margin: 10px;
  }

  /* Footer */
   .footer-content h3 {
    font-size: 1.4rem;
    line-height: 2rem;
  }

  .footer-content p {
    font-size: 12px;
  }

  .socials li {
    margin: 0 5px;
  }

  .socials a i {
    font-size: 1rem;
  }

  .footer-bottom p {
    font-size: 10px;
  }

  /* ACERCA DE */
  /* Texto */
  .container{
    margin-top: 5px;
  }
  .acercadeletra {
    margin-top: 30px;
    font-size: 40px;
  }

  .about-us {
    margin: 30px;
    font-size: 22px;
  }
  /* Imagenes*/
  .photo-gallery .container {
    flex-direction: column;
    align-items: center;
  }

  .photo-gallery .photo {
    flex-basis: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }

  /* CONTACTO */
  /* Formulario */
  .contact-container {
    max-width: 80%;
    margin: 30px auto;
    padding: 40px;
  }
  
  .letracontacto {
    font-size: 22px;
    margin-top: 30px;
  }
  
  .form-group {
    font-size: 16px;
  }
}

  
  
  
  
  
  
  