*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--------------------NAVBAR-------------------->*/
.top-content{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 45px;
    background-color: #f2f2f2;
    width: 100%;
    margin: 0 auto 20px auto;
    height: 70px;
    text-align: center;
    border-radius: 5px;
}

h3{
    height: 100%;
    background-color: rgb(46, 35, 35);
    line-height: 60px;
    padding: 0 50px;
    color: black;
}

a{
    display: inline-block;
    text-decoration: none; 
    height: 100%;
    margin: 0 20px;
    line-height: 60px;
    font-size: 17px;
    color: gray;
    cursor: pointer;
    transition: color .5s;
}
a:hover{
    color: black;
}

/*--------------------ENCABEZADO-------------------->*/

header{
    width: 100%;
    margin-top: 80px;
    margin-bottom: 50px;
}

header>div{
   display: inline-block;
}

header>img{
    width: 300px;
    border-radius: 90%;
    margin-top: -10px;
    margin-bottom: -45px;
    margin-left: 300px;
}

h1{
    text-align: center;
    font-family: fantasy;
    font-weight: normal;
    font-size: 90px;
    position: relative;
    margin-left: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(9, 61, 17);
}

.letrainicio{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 23px;
    text-align: center;
    margin-left: 200px;
}

/*--------------------CARRUSEL-------------------->*/
.carrusel{
    margin-top: -100px;
    height: 100vh;
    display: flex;
    align-items: center; 
}

.carrusel-items{
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 30px 0px;
}

.carrusel-item{
   min-width: 450px;
   max-width: 450px;
   height: 350px;
}

.carrusel-item img{ 
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carrusel-item:hover{
    transform: scale(1.3);
}